<div id="countdown">
  <ul>
    <li class="days chart" data-percent="0"><span>00</span>Ngày</li>
    <li class="hours chart" data-percent="0"><span>00</span>Giờ</li>
    <li class="minutes chart" data-percent="0"><span>00</span>Phút</li>
    <li class="seconds chart" data-percent="0"><span>00</span>Giây</li>
  </ul>
</div>