<div id="countdown" class="hide-on-small-only" data-next-es="<%= next_es %>">
  <ul>
    <li class="days chart" data-percent="0"><span>00</span>Ngày</li>
    <li class="hours chart" data-percent="0"><span>00</span>Giờ</li>
    <li class="minutes chart" data-percent="0"><span>00</span>Phút</li>
    <li class="seconds chart" data-percent="0"><span>00</span>Giây</li>
  </ul>

  <h5><%= countdown_title %></h5>
</div>
