<div class="center-align">
  <ul class="collection">
    <li class="collection-item">Phòng ĐTĐH Thông báo Lớp IE403 chuyển lịch thi
      qua ca 1 ngày 14/6/2017. <a target="_blank" href="https://daa.uit.edu.vn/thongbao/thong-bao-doi-lich-thi-lop-ie403">Xem thêm</a></li>
    <li class="collection-item">P.ĐTĐH Thông báo lịch thi của 2 môn IE101; 
      IE403 (file đính kèm) các bạn Sinh viên vui lòng cập nhật thông tin thi 
      2 môn này. <a target="_blank" href="https://daa.uit.edu.vn/thongbao/thong-bao-cap-nhat-lich-thi-ie101-ie403">Xem thêm</a></li>
    <li class="collection-item">P.ĐTĐH Thông báo theo đề nghị của bộ môn 
      Anh Văn, P.ĐTĐH thông báo lịch thi mới các lớp EN006 Thi ca 3 
      ngày 29-6/2017. <a target="_blank" href="https://daa.uit.edu.vn/thongbao/thong-bao-dieu-chinh-lich-thi-anh-van-3-en006">Xem thêm</a></li>

    <li class="divider"></li>
    <li class="collection-item">
      Dữ liệu được cập nhật lần cuối vào: 
      <span class="teal-text">09/05/2017 - 09:05</span>
    </li>
  </ul>
</div>
