<div class="center-align">
  <ul class="collection">
    <li class="collection-item">
      Dữ liệu được cập nhật lần cuối vào:
      <span class="teal-text">20/12/2017 - 12:05</span>
    </li>
  </ul>
</div>
