<div class="center-align">
  <ul class="collection">
    <li class="collection-item">Thông Báo Đổi Lịch Thi Giữa Kỳ PH002.I11 <a target="_blank" href="https://daa.uit.edu.vn/thongbao/thong-bao-doi-lich-thi-giua-ky-ph002i11">Xem thêm</a></li>
    <li class="collection-item">Đổi lịch thi giữa kỳ lớp EN001.I11. <a target="_blank" href="https://daa.uit.edu.vn/thongbao/doi-lich-thi-giua-ky-lop-en001i11">Xem thêm</a></li>

    <li class="divider"></li>
    <li class="collection-item">
      Dữ liệu được cập nhật lần cuối vào:
      <span class="teal-text">26/10/2017 - 15:37</span>
    </li>
  </ul>
</div>
