<div class="center-align">
  <ul class="collection">
    <li class="collection-item">
      Dữ liệu được cập nhật lần cuối vào:
      <span class="teal-text">21/12/2018 - 09:57</span>
    </li>
  </ul>
</div>
