<div class="center-align">
  <ul class="collection">
    <li class="collection-item">
      Dữ liệu được cập nhật lần cuối vào:
      <span class="teal-text">31/05/2018 - 10:22</span>
    </li>
  </ul>
</div>
