<div id="notifs" class="container">
  <ul class="collapsible popout" data-collapsible="accordion">
    <% @off_class_notifs.each do |notif| %>
      <%= render(partial: "notifs/notif", locals: {notif: notif}) %>
    <% end %>
  </ul>
</div>


<% @off_class_notifs.each do |notif| %>
  <%= "Matched" if  @class_codes.find { |c| notif['title'] =~ /#{c}/ } %>
<% end %>
