<li>
  <div class="collapsible-header">
    <i class="material-icons">notifications_active</i>
    <%= notif['title'] %><br>
    <small class="submitted"> (<%= notif['submitted'] %>)</small>
  </div>

  <div class="collapsible-body">
    <span class="right origin-notif">
      <%= link_to notif['link'], target: "blank",
        class: "teal-text lighten-1" do %>
        <i class="material-icons">open_in_new</i>
      <% end %>
    </span>

    <%= simple_format notif['content'] %>
  </div>
</li>