.turbolinks-progress-bar {
  background-color: #fff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f1f1f1;
  overflow-x: hidden;
}

nav .brand-logo {
  i {
    margin-right: 0 !important;
    font-size: 36px;
  }

  span {
    margin-left: 15px;
  }
}

#content {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#main {
  flex: 1 0 auto;
}

#banner {
  margin-top: 0;
  height: 250px;
}

#content {
  margin-top: -150px;
}

#us-creator {
  h4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  form {
    max-width: 300px;
    margin: 0 auto;

    input[type='text'] {
      font-size: 1.5em;
      font-weight: 600;
    }
  }

  #toggle-width {
    cursor: pointer;
  }

  table {
    tr.grey.lighten-1.grey-text {
      text-decoration: line-through;
    }

    th:first-child {
      border-left: 1px solid teal;
    }

    th {
      border-right: 1px solid teal;
      border-radius: 0;
    }


    td:first-child {
      border-left: 1px solid #26a69a;
    }

    td {
      border-right: 1px solid #26a69a;
      border-top: 1px solid #26a69a;
    }

    tbody tr:last-child {
      td {
        border-bottom: 1px solid #26a69a;
      }
    }
  }
}

#countdown {
  background: #26a69a;
  position: relative;
  text-align: center;
  padding-top: 30px;
  color: #E7F7F5;
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;

  h3, h5, h6 {
    font-family: "Roboto";
  }

  h6 {
    padding-bottom: 50px;
  }

  a.close-countdown {
    position: absolute;
    top: 0;
    right: 0;
    
    i {
      font-size: 2.5rem;
    }
  }

  a{
    display: block;
    margin-bottom: 1em;
    color: #E7F7F5;
    text-decoration: none;
    &:last-of-type{
      font-size: 0.9em;
    }
    &:hover{
      text-decoration: underline;
    }
  }

  ul{
    margin-bottom: 4em;
  }

  .chart {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 10px 30px;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    padding-top: 40px;
    font-weight: 500;

    span {
      display: block;
      font-size: 3em;
      font-weight: normal;
      margin-bottom: 20px;
    }

    canvas {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}