<div class="card">
  <div
    class="fb-comments"
    data-href="<%= full_path %>"
    data-numposts="3"
    data-order-by="social"
    data-colorscheme="light"
    data-width="100%">  
  </div>
</div>